In [ ]:
# move to project directory and run 
!python -m pip install jupyterlab

# It will opens jupyter in new browser
!jupyter lab

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: jupyterlab in c:\programdata\anaconda3\lib\site-packages (3.4.4)
Requirement already satisfied: packaging in c:\programdata\anaconda3\lib\site-packages (from jupyterlab) (21.3)
Requirement already satisfied: jinja2>=2.1 in c:\programdata\anaconda3\lib\site-packages (from jupyterlab) (2.11.3)
Requirement already satisfied: nbclassic in c:\programdata\anaconda3\lib\site-packages (from jupyterlab) (0.3.5)
Requirement already satisfied: tornado>=6.1.0 in c:\programdata\anaconda3\lib\site-packages (from jupyterlab) (6.1)
Requirement already satisfied: jupyter-core in c:\programdata\anaconda3\lib\site-packages (from jupyterlab) (4.11.1)
Requirement already satisfied: jupyterlab-server~=2.10 in c:\programdata\anaconda3\lib\site-packages (from jupyterlab) (2.10.3)
Requirement already satisfied: jupyter-server~=1.16 in c:\programdata\anaconda3\lib\site-packages (from jupyterlab) (1.18.1)
Requirement already satisfied: notebook<7 in c:\programdata\anaconda3\lib\site-packages (from jupyterlab) (6.4.12)
Requirement already satisfied: ipython in c:\programdata\anaconda3\lib\site-packages (from jupyterlab) (7.31.1)
Requirement already satisfied: MarkupSafe>=0.23 in c:\programdata\anaconda3\lib\site-packages (from jinja2>=2.1->jupyterlab) (2.0.1)
Requirement already satisfied: anyio<4,>=3.1.0 in c:\programdata\anaconda3\lib\site-packages (from jupyter-server~=1.16->jupyterlab) (3.5.0)
Requirement already satisfied: terminado>=0.8.3 in c:\programdata\anaconda3\lib\site-packages (from jupyter-server~=1.16->jupyterlab) (0.13.1)
Requirement already satisfied: nbformat>=5.2.0 in c:\programdata\anaconda3\lib\site-packages (from jupyter-server~=1.16->jupyterlab) (5.5.0)
Requirement already satisfied: nbconvert>=6.4.4 in c:\programdata\anaconda3\lib\site-packages (from jupyter-server~=1.16->jupyterlab) (6.4.4)
Requirement already satisfied: argon2-cffi in c:\programdata\anaconda3\lib\site-packages (from jupyter-server~=1.16->jupyterlab) (21.3.0)
Requirement already satisfied: pyzmq>=17 in c:\programdata\anaconda3\lib\site-packages (from jupyter-server~=1.16->jupyterlab) (23.2.0)
Requirement already satisfied: traitlets>=5.1 in c:\programdata\anaconda3\lib\site-packages (from jupyter-server~=1.16->jupyterlab) (5.1.1)
Requirement already satisfied: websocket-client in c:\programdata\anaconda3\lib\site-packages (from jupyter-server~=1.16->jupyterlab) (0.58.0)
Requirement already satisfied: jupyter-client>=6.1.12 in c:\programdata\anaconda3\lib\site-packages (from jupyter-server~=1.16->jupyterlab) (7.3.4)
Requirement already satisfied: pywinpty in c:\programdata\anaconda3\lib\site-packages (from jupyter-server~=1.16->jupyterlab) (2.0.2)
Requirement already satisfied: Send2Trash in c:\programdata\anaconda3\lib\site-packages (from jupyter-server~=1.16->jupyterlab) (1.8.0)
Requirement already satisfied: prometheus-client in c:\programdata\anaconda3\lib\site-packages (from jupyter-server~=1.16->jupyterlab) (0.14.1)
Requirement already satisfied: pywin32>=1.0 in c:\programdata\anaconda3\lib\site-packages (from jupyter-core->jupyterlab) (302)
Requirement already satisfied: entrypoints>=0.2.2 in c:\programdata\anaconda3\lib\site-packages (from jupyterlab-server~=2.10->jupyterlab) (0.4)
Requirement already satisfied: json5 in c:\programdata\anaconda3\lib\site-packages (from jupyterlab-server~=2.10->jupyterlab) (0.9.6)
Requirement already satisfied: requests in c:\programdata\anaconda3\lib\site-packages (from jupyterlab-server~=2.10->jupyterlab) (2.28.1)
Requirement already satisfied: babel in c:\programdata\anaconda3\lib\site-packages (from jupyterlab-server~=2.10->jupyterlab) (2.9.1)
Requirement already satisfied: jsonschema>=3.0.1 in c:\programdata\anaconda3\lib\site-packages (from jupyterlab-server~=2.10->jupyterlab) (4.16.0)
Requirement already satisfied: ipython-genutils in c:\programdata\anaconda3\lib\site-packages (from notebook<7->jupyterlab) (0.2.0)
Requirement already satisfied: ipykernel in c:\programdata\anaconda3\lib\site-packages (from notebook<7->jupyterlab) (6.15.2)
Requirement already satisfied: nest-asyncio>=1.5 in c:\programdata\anaconda3\lib\site-packages (from notebook<7->jupyterlab) (1.5.5)
Requirement already satisfied: setuptools>=18.5 in c:\programdata\anaconda3\lib\site-packages (from ipython->jupyterlab) (63.4.1)
Requirement already satisfied: jedi>=0.16 in c:\programdata\anaconda3\lib\site-packages (from ipython->jupyterlab) (0.18.1)
Requirement already satisfied: decorator in c:\programdata\anaconda3\lib\site-packages (from ipython->jupyterlab) (5.1.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from ipython->jupyterlab) (3.0.20)
Requirement already satisfied: colorama in c:\programdata\anaconda3\lib\site-packages (from ipython->jupyterlab) (0.4.5)
Requirement already satisfied: pickleshare in c:\programdata\anaconda3\lib\site-packages (from ipython->jupyterlab) (0.7.5)
Requirement already satisfied: matplotlib-inline in c:\programdata\anaconda3\lib\site-packages (from ipython->jupyterlab) (0.1.6)
Requirement already satisfied: backcall in c:\programdata\anaconda3\lib\site-packages (from ipython->jupyterlab) (0.2.0)
Requirement already satisfied: pygments in c:\programdata\anaconda3\lib\site-packages (from ipython->jupyterlab) (2.11.2)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\programdata\anaconda3\lib\site-packages (from packaging->jupyterlab) (3.0.9)
Requirement already satisfied: idna>=2.8 in c:\programdata\anaconda3\lib\site-packages (from anyio<4,>=3.1.0->jupyter-server~=1.16->jupyterlab) (3.3)
Requirement already satisfied: sniffio>=1.1 in c:\programdata\anaconda3\lib\site-packages (from anyio<4,>=3.1.0->jupyter-server~=1.16->jupyterlab) (1.2.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\programdata\anaconda3\lib\site-packages (from jedi>=0.16->ipython->jupyterlab) (0.8.3)
Requirement already satisfied: attrs>=17.4.0 in c:\programdata\anaconda3\lib\site-packages (from jsonschema>=3.0.1->jupyterlab-server~=2.10->jupyterlab) (21.4.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in c:\programdata\anaconda3\lib\site-packages (from jsonschema>=3.0.1->jupyterlab-server~=2.10->jupyterlab) (0.18.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\programdata\anaconda3\lib\site-packages (from jupyter-client>=6.1.12->jupyter-server~=1.16->jupyterlab) (2.8.2)
Requirement already satisfied: defusedxml in c:\programdata\anaconda3\lib\site-packages (from nbconvert>=6.4.4->jupyter-server~=1.16->jupyterlab) (0.7.1)
Requirement already satisfied: bleach in c:\programdata\anaconda3\lib\site-packages (from nbconvert>=6.4.4->jupyter-server~=1.16->jupyterlab) (4.1.0)
Requirement already satisfied: pandocfilters>=1.4.1 in c:\programdata\anaconda3\lib\site-packages (from nbconvert>=6.4.4->jupyter-server~=1.16->jupyterlab) (1.5.0)
Requirement already satisfied: jupyterlab-pygments in c:\programdata\anaconda3\lib\site-packages (from nbconvert>=6.4.4->jupyter-server~=1.16->jupyterlab) (0.1.2)
Requirement already satisfied: testpath in c:\programdata\anaconda3\lib\site-packages (from nbconvert>=6.4.4->jupyter-server~=1.16->jupyterlab) (0.6.0)
Requirement already satisfied: beautifulsoup4 in c:\programdata\anaconda3\lib\site-packages (from nbconvert>=6.4.4->jupyter-server~=1.16->jupyterlab) (4.11.1)
Requirement already satisfied: nbclient<0.6.0,>=0.5.0 in c:\programdata\anaconda3\lib\site-packages (from nbconvert>=6.4.4->jupyter-server~=1.16->jupyterlab) (0.5.13)
Requirement already satisfied: mistune<2,>=0.8.1 in c:\programdata\anaconda3\lib\site-packages (from nbconvert>=6.4.4->jupyter-server~=1.16->jupyterlab) (0.8.4)
Requirement already satisfied: fastjsonschema in c:\programdata\anaconda3\lib\site-packages (from nbformat>=5.2.0->jupyter-server~=1.16->jupyterlab) (2.16.2)
Requirement already satisfied: wcwidth in c:\programdata\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython->jupyterlab) (0.2.5)
Requirement already satisfied: argon2-cffi-bindings in c:\programdata\anaconda3\lib\site-packages (from argon2-cffi->jupyter-server~=1.16->jupyterlab) (21.2.0)
Requirement already satisfied: pytz>=2015.7 in c:\programdata\anaconda3\lib\site-packages (from babel->jupyterlab-server~=2.10->jupyterlab) (2022.1)
Requirement already satisfied: debugpy>=1.0 in c:\programdata\anaconda3\lib\site-packages (from ipykernel->notebook<7->jupyterlab) (1.5.1)
Requirement already satisfied: psutil in c:\programdata\anaconda3\lib\site-packages (from ipykernel->notebook<7->jupyterlab) (5.9.0)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\programdata\anaconda3\lib\site-packages (from requests->jupyterlab-server~=2.10->jupyterlab) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests->jupyterlab-server~=2.10->jupyterlab) (1.26.11)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests->jupyterlab-server~=2.10->jupyterlab) (2022.9.14)
Requirement already satisfied: six in c:\programdata\anaconda3\lib\site-packages (from websocket-client->jupyter-server~=1.16->jupyterlab) (1.16.0)
Requirement already satisfied: cffi>=1.0.1 in c:\programdata\anaconda3\lib\site-packages (from argon2-cffi-bindings->argon2-cffi->jupyter-server~=1.16->jupyterlab) (1.15.1)
Requirement already satisfied: soupsieve>1.2 in c:\programdata\anaconda3\lib\site-packages (from beautifulsoup4->nbconvert>=6.4.4->jupyter-server~=1.16->jupyterlab) (2.3.1)
Requirement already satisfied: webencodings in c:\programdata\anaconda3\lib\site-packages (from bleach->nbconvert>=6.4.4->jupyter-server~=1.16->jupyterlab) (0.5.1)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.0.1->argon2-cffi-bindings->argon2-cffi->jupyter-server~=1.16->jupyterlab) (2.21)

In [ ]:
import pandas as pd

In [ ]:
values = [10,20,30,40,50]
s = pd.Series(values,index=['a','b','c','d','e'])   # custom index values

In [ ]:
s

In [ ]:
df = pd.DataFrame({
    'name': ['shyam', 'ram', 'ravi', 'raj'],
    'age' : [25, 25, 30, 32],
    'job' : ['develope', 'developer', 'clerk', 'designer']    
})

In [ ]:
df

In [ ]:
df = df.set_index('name')     # making 'name' column as index

In [ ]:
df

In [ ]:
# reseting index to actal default index
df.reset_index()

In [ ]:
# send dataframe table to csv file.
# if we want create csv file without index use index=None
df.to_csv('my_data.csv')

In [ ]:
# read 'my_data.csv' file
pd.read_csv('my_data.csv')

In [ ]:
# specify first column as index column
pd.read_csv('my_data.csv',index_col=0)

In [ ]:
# adding each dataframe with index values

df1 = pd.DataFrame({
    'a': [1,2,3]    
},index=[0,2,1])

df2 = pd.DataFrame({
    'a': [10,20,30]    
},index=[0,1,2])

In [ ]:
df1 + df2

In [ ]:
pip install scikit-learn matplotlib

In [ ]:
import pandas as pd

In [ ]:
from sklearn.datasets import fetch_california_housing

In [ ]:
df = fetch_california_housing(as_frame=True).frame
df.head()

In [ ]:
df

In [ ]:
df.head(5)    # first 5 rows

In [ ]:
df.tail(5)     # last 5 rows

In [ ]:
df.sample()    # picks random rows

In [ ]:
df.columns    #display all column names

In [ ]:
pd.options.display.max_columns = 5

In [ ]:
df

In [ ]:
df.info()

In [ ]:
# to describe table count, mean, min, max....
df.describe()

In [ ]:
df['MedInc']

In [ ]:
df['MedInc'].mean()   #df['MedInc'].min() or max() or count() or sum()

In [ ]:
df = pd.DataFrame({
    'name': ['shyam', 'ram', 'ravi', 'raj'],
    'age' : [25, 25, 30, 32],
    'job' : ['develope', 'developer', 'clerk', 'designer']    
})

In [ ]:
df

In [ ]:
#df.loc[1]
df = df.set_index('name')

In [ ]:
df

In [ ]:
df.loc['ravi']

In [ ]:
df.loc['ravi','age']  # 'ravi' is the index row and 'age' is the first column

In [ ]:
df.at['ravi','age']

In [ ]:
df.iloc[1]

In [ ]:
df.iloc[1,0]    # here 'name' is index row and 'age' is first coulum '0' index

In [ ]:
df.iat[1,0]

In [ ]:
# change 'ravi' age = 60
df.at['ravi','age'] = 60

In [ ]:
df

In [ ]:
# change entire row 
df.loc['ravi'] = [45,'HR']

In [ ]:
df

In [ ]:
# add new rows
df.loc['john'] = [25,'drawer']

In [ ]:
df

In [ ]:
# we can use slicing with iloc
df.iloc[0:2]

In [ ]:
# all rows and 1st column only
df.iloc[:,1]

In [ ]:
# multiply age column with 2
df.age * 2

In [ ]:
# how to do some other logics
def myfunction(x):
    if x % 3 == 0:
        return x**2
    else:
        return x//2

In [ ]:
df.age.apply(myfunction)

In [ ]:
# how to do some other logics
def myfunction2(x):
    if x.endswith('R'):
        return 'no job'
    else:
        return x

In [ ]:
df.job.apply(myfunction2)

In [ ]:
# we can use lambda function for simple functions
df.age.apply(lambda x: x ** 2 if x % 10 == 0 else x // 2)

In [ ]:
# creating summary column
df['summary'] = df.apply(lambda row : f"Age: {row['age']}, job: {row['job']}", axis=1)

In [ ]:
df

In [ ]:
# to drop a column
# for multiple columns deletion df.drop(['summary','age'],axis=1)
df.drop('summary',axis=1)

In [ ]:
df

In [ ]:
import numpy as np

#df.at['raj','age'] = float('nan')

# First, convert 'age' to float so it can accept NaN
df['age'] = df['age'].astype(float)

# Now assign NaN to 'raj' in the 'age' column
df.at['raj', 'age'] = np.nan

# OR
df.at['raj','age'] = float('nan')

In [ ]:
df

In [ ]:
df.info()

In [ ]:
# to drop 'nan' values
df.dropna()

In [ ]:
# to fill 'nan' values if nan put '0'
df.fillna(0)

In [ ]:
# if nan value fill it with mean value
df.age.fillna(df.age.mean())

In [ ]:
# this will keep non values to False
df.notna()

In [ ]:
# it will display complete table except 'Flase' values 'age'
df[df.age.notna()]

In [ ]:
# Iterate over each individual rows
df.iterrows()

In [ ]:
for i, row in df.iterrows():
    print(i, row)
    break

In [ ]:
for i, col in df.items():
    print(i, col)
    break

In [ ]:
df.age > 50

In [ ]:
df[df.age > 30]

In [ ]:
df[(df.age > 25) & (df.job.notna())]

In [ ]:
df[df.job.notna()]

In [ ]:
# reverse of above case
df[~df.job.notna()]

In [ ]:
df = df.reset_index()

In [ ]:
df[df.name.str.endswith('i')]

In [ ]:
df.age = df.age.fillna(30)

In [ ]:
import datetime as dt
# its won't work if 'age' in 'nan' so fill that nan value
df['birthday'] = df['age'].apply(lambda x : dt.datetime.now() - dt.timedelta(days=365*x))

In [ ]:
df

In [ ]:
df[df.birthday.dt.year > 1990]

In [ ]:
ages = [30, 45]
df[df.age.isin(ages)]

In [ ]:
# this query is very fast compare to other commands
df.query('age>26')

In [ ]:
df

In [ ]:
# Grouping

In [ ]:
df.groupby('job')

In [ ]:
df.groupby('job').agg({
    'age': 'mean'
})

In [ ]:
df

In [ ]:
# adding other row
df.loc[4] = ['jane',55,'designer',None,None]

In [ ]:
df

In [ ]:
df.groupby('job').agg({
    'age': 'mean'
})

In [ ]:
df.groupby('job').agg({
    'age': ['mean','sum','max','min']
})

In [ ]:
df

In [ ]:
df.sort_values("age",ascending=False)

In [ ]:
# Merging, Concatinating, Joining

In [ ]:
df1 = pd.DataFrame({
    'Item':['A','B','C'],
    'Price':[10,20,30]
})

df2 = pd.DataFrame({
    'Item':['D','E','F'],
    'Price':[40,50,60]
})

In [ ]:
df1,df2

In [ ]:
# stack rows
pd.concat([df1,df2]).reset_index().drop('index',axis=1)

In [ ]:
df3 = pd.DataFrame({
    'Item':['A','B','C'],
    'Price':[10,20,30]
})

df4 = pd.DataFrame({
    'Country':['X','Y','Z'],
    'Availbale':[True,True,False]
})

In [ ]:
pd.concat([df3,df4],axis=1)

In [ ]:
df5 = pd.DataFrame({
    'Item':['B','C','D'],
    'Country':['X','Y','Z']
})

In [ ]:
df5

In [ ]:
df1

In [ ]:
# i wanna join df1 and df5
# here it merge only common values
pd.merge(df1,df5)

In [ ]:
# it will give all other values also
# if you don't provide how='outer' by default it takes 'inner'
# if we use 'left' it will keep all left table and 'right' for right table. 
pd.merge(df1,df5,how='outer')

In [ ]:
# you can also specify what column going to merge like 'item'
pd.merge(df1,df5, on='Item', how='outer')

In [ ]:
df6 = pd.DataFrame({
    'Price': [10, 20, 30]
}, index=['A', 'B', 'C'])

df7 = pd.DataFrame({
    'Country': ['X', 'Y', 'Z']
}, index=['B', 'C', 'D'])

In [ ]:
# it will join based on index we can also use df6.join(df7,how='outer')
df6.join(df7)

In [ ]:
import numpy as np

n = np.array([1, 2, 3, 4])
reshaped_n = n.reshape((2, 2))  # Reshape to 2 rows and 2 columns
print(reshaped_n)

In [ ]:
n_3d = n.reshape((2, 1, 2))  # 3D array
print(n_3d)

In [ ]:
n.resize((2, 2))  # Changes original array shape
print(n)

In [ ]:
n = np.array([1, 2, 3, 4])
# You can expand the array using resize (it will fill new slots with zeros):
n.resize((3, 3))
print(n)

In [ ]:
import numpy as np

n = np.array([1, 2, 3, 4, 5, 6])

In [ ]:
n_2d = n.reshape((2, 3))  # 2 rows, 3 columns
print(n_2d)

In [ ]:
# Convert 1D to 2D (Row Vector)
n = np.array([1, 2, 3, 4])

row_vector = n[np.newaxis, :]
print(row_vector)
print(row_vector.shape)

In [ ]:
# Convert 1D to 2D (Column Vector)
column_vector = n[:, np.newaxis]
print(column_vector)
print(column_vector.shape)

In [ ]:
column_vector = n.reshape(-1, 1)
print(column_vector)

In [ ]:
# MultiIndex 

# In Pandas, you can create MultiIndex (multiple index levels) using:

# set_index() for existing columns

# pd.MultiIndex.from_tuples() or from_product() for manual creation

# When using groupby() operations

In [ ]:
# Example 1: Using set_index()
import pandas as pd

data = {
    'City': ['Delhi', 'Delhi', 'Mumbai', 'Mumbai'],
    'Year': [2020, 2021, 2020, 2021],
    'Population': [19, 20, 18, 19]
}

df = pd.DataFrame(data)

# Create MultiIndex
df = df.set_index(['City', 'Year'])
print(df)

In [ ]:
# Example 2: Creating MultiIndex from Tuples
index = pd.MultiIndex.from_tuples([('Delhi', 2020), ('Delhi', 2021), ('Mumbai', 2020), ('Mumbai', 2021)],
                                  names=['City', 'Year'])

data = [19, 20, 18, 19]

df = pd.DataFrame(data, index=index, columns=['Population'])
print(df)

In [ ]:
# ✅ Example 3: MultiIndex using groupby
df = pd.DataFrame({
    'City': ['Delhi', 'Delhi', 'Mumbai', 'Mumbai'],
    'Year': [2020, 2021, 2020, 2021],
    'Sales': [100, 150, 200, 250]
})

grouped = df.groupby(['City', 'Year']).sum()
print(grouped)

In [ ]:
# If you use groupby
# Access correctly
print(grouped.loc[('Delhi', 2021)])  # ✅ This is correct here

In [ ]:
# If you use set_index
# Set MultiIndex
df = df.set_index(['City', 'Year'])
print(df)

# Access using MultiIndex
print(df.loc[('Delhi', 2021)])  # ✅ This will work correctly here